@charset "utf-8";
/* CSS Document */

/* 通用样式 开始 */
* { margin:0; padding:0; border:0;}
article , aside , figcaption , figure , footer , header , hgroup , menu , nav , section , small , ul , ol , dl , dt , dd , address { display: block;}
body {width:100%; max-width:2000px; background:#fff; border-top:5px solid #008dc3; font-family:'微软雅黑','宋体',Arial; color:#666;  font-size:14px; }
ul , ol , li { list-style-type:none; vertical-align: middle;}
h1 , h2 , h3 , h4 , h5 , h6 { font-weight:normal;}
.clear { width:100%; height:0; clear:both; font-size:0; line-height:0; overflow:hidden; display:block;}
.clear25 { width:100%; height:25px; clear:both; font-size:0; line-height:0; overflow:hidden; display:block;}
.clearl { clear:left;}
a { color:#666; text-decoration:none;}
a:hover { color:#008dc3;}
/* 通用样式 结束 */

header , .main { width:90%; max-width:1800px; margin:0 auto; clear:both; overflow:hidden; zoom:1; *width:1140px;}
.hidden768 { display:none;}

/* 页头 开始 */
header .logo { width:25%; margin:30px 0 30px 5px; float:left; line-height:0;}
header .logo img { width:100%;}
header .logo h4 { display:none;}
header .other { width:70%; padding:5px 0 20px 0; float:right; overflow:hidden; zoom:1; font:14px/2em '微软雅黑','宋体',Arial;}
header .other ul { clear:both;}
header .other .address li { padding-right:5%; display:inline-block; float:right;}
header .other .address li:first-child { padding-right:0;}
header .other .deputy-nav li { padding:0 2% 0 2.1%; float:right; background:url(../images/line-2.png) left center no-repeat;}
header .other .deputy-nav li:first-child { padding-right:0;}
header .other .deputy-nav li:last-child { padding-left:0; background:none;}
header .other .data { width:430px; padding-top:15px; float:right; color:#008dc3;}
header .other .data li { width:48%; padding-right:2%; float:left;}
header .other .menu { display:none;}
/* 主导航 */
header nav { height:40px; clear:both; border:1px solid #eee; font:20px/2em '微软雅黑','宋体',Arial;}
header nav li { width:14.285%; float:left; position:relative; text-align:center; *width:162px;}
header nav li a { color:#333;}
header nav li a:hover , header nav li.hover a , header nav li:hover h4 a { color:#008dc3;}
header nav li ul { width:100%; padding-top:10px; display:none; position:absolute; top:40px; left:0; background:url(../images/drop-down-back.png) 0 0 repeat;}
header nav li:hover ul { display:block;}
header nav li li { width:100%; padding-bottom:15px; text-align:center; font:14px/1.8em '微软雅黑','宋体',Arial;}
/* 通栏广告条 */
header .banner { width:100%; padding:25px 0; line-height:0;}
header .banner img { width:100%;}
/* 页头 结束 */

/* 页面主体 开始 */

/* 页面主体左边 开始 */
.main .leftmain { width:70%; float:left; overflow:hidden; zoom:1;}
/* 新手指南 */
.main .leftmain .novice { width:100%; margin-bottom:25px; overflow:hidden; zoom:1;}
.main .leftmain .novice h4 { width:6.1%; float:left; overflow:hidden; zoom:1; line-height:0;}
.main .leftmain .novice h5 { width:28%; margin-left:3.3%; float:left; overflow:hidden; zoom:1; line-height:0;}
.main .leftmain .novice a img { width:100%;}
.main .leftmain .novice a span { display:none;}
/* 融资项目列表 */
.main .leftmain .project .project-title { width:100%; padding-bottom:5px; display:block; border-top:1px solid #ccc;}
.main .leftmain .project .project-title a { width:45%; margin:0 auto; display:block; background-color:#e6f3f9; font:20px/2em '微软雅黑','宋体',Arial normal; color:#008dc3; text-align:center;}
.main .leftmain .project dl { width:99%; margin:0 auto; padding:15px 0 10px; overflow:hidden; zoom:1; border-bottom:1px solid #eee; line-height:30px;}
.main .leftmain .project dt { width:9.5%; float:left; margin-top:10px; border:1px solid #ddd; line-height:0; *width:75px; *float:left;}
.main .leftmain .project dt img { width:100%;}
.main .leftmain .project dd { width:89%; margin-left:11%; *width:703px; *float:right; *margin:0;}
.main .leftmain .project dd i , .main .leftmain .project dd b { width:40%; float:left; font:16px/2em '微软雅黑','宋体',Arial normal; overflow:hidden; white-space:nowrap;}
.main .leftmain .project dd b { width:60%; color:#008dc3; text-overflow:ellipsis;}
.main .leftmain .project dd b a { color:#008dc3;}
.main .leftmain .project dd span { width:23%; height:30px; margin-left:2%; float:left; position:relative; overflow:hidden; white-space:nowrap; font:14px/30px '微软雅黑','宋体',Arial; *width:170px; *margin-left:5px;}
.main .leftmain .project dd span em { color:#c10000; font-style:normal;}
.main .leftmain .project dd .state-finish { color:#42948e; font-size:16px;}
.main .leftmain .project dd progress { width:50%; position:absolute; left:70px; top:9px;}
/* 页面主体左边 结束 */

/* 页面主体右边 开始 */
.main .rightmain { width:26%; float:right; overflow:hidden; zoom:1;}
/* 最新公告 新闻动态 */
.main .rightmain .new-list { width:100%; margin-bottom:25px; overflow:hidden; zoom:1; font:14px/40px '微软雅黑','宋体',Arial; *background:#f8f8f8;}
.main .rightmain .new-list li { height:40px; padding-right:7px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.main .rightmain .new-list li span { width:13%; min-width:40px; margin-right:4%; display:inline-block; text-align:center;}
.main .rightmain .new-list li:nth-child(even) { background:#f8f8f8;}
.main .rightmain .new-list li:nth-child(even) span { background:#f2f2f2;}
.main .rightmain .new-list li:nth-child(odd) { background:#fefefe;}
.main .rightmain .new-list li:nth-child(odd) span { background:#f9f9f9;}
.main .rightmain .new-list li:first-child { height:40px; padding-right:0; color:#008dc3; white-space:normal;}
.main .rightmain .new-list li h4 { float:left;}
.main .rightmain .new-list li h4 a { color:#008dc3; font:20px/40px '微软雅黑','宋体',Arial;}
.main .rightmain .new-list li a.more { width:27px; height:40px; float:right; background:url(../images/more-1.png) 0 0 no-repeat; line-height:200px;}
/* 成功案例 */
.main .rightmain .successful-cases { width:100%; overflow:hidden; zoom:1; *background:#f8f8f8;}
.main .rightmain .successful-cases li { height:66px; padding:5px 0; line-height:30px; overflow:hidden;}
.main .rightmain .successful-cases li a { padding:3px 2%; display:block; font-size:16px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.main .rightmain .successful-cases li span { margin:0 2%; float:left; overflow:hidden; white-space:nowrap; font-size:14px;}
.main .rightmain .successful-cases li em { color:#c10000; font-style:normal;}
.main .rightmain .successful-cases li:nth-child(even) { border-left:3px solid #ececec; background:#f8f8f8;}
.main .rightmain .successful-cases li:nth-child(odd) { border-left:3px solid #f6f6f6; background:#fefefe;}
.main .rightmain .successful-cases li:first-child { height:40px; border-left:0; padding:0; color:#9b1e24; white-space:normal;}
.main .rightmain .successful-cases li h4 { float:left;}
.main .rightmain .successful-cases li h4 a { padding:0; color:#9b1e24; font:20px/40px '微软雅黑','宋体',Arial;}
.main .rightmain .successful-cases li a.more  { width:27px; height:40px; float:right; padding:0; background:url(../images/more-2.png) 0 0 no-repeat; line-height:200px;}
/* 页面主体右边 结束 */

/* 页面主体 结束 */

/* 页脚 开始 */
footer { width:100%; margin-top:25px; overflow:hidden; zoom:1; background:url(../images/line-1.png) center top no-repeat #fafafa; *width:1140px; *margin:0 auto;}
footer .leftfooter { width:65%; margin-left:5%; padding-top:25px; float:left; *width:741px; *margin-left:0;}
/* 导航 */
footer .leftfooter nav { width:65%; float:left; font:12px/2.5em '微软雅黑','宋体',Arial; *width:481px;}
footer .leftfooter nav li { width:100%; height:30px; display:block; overflow:hidden;}
footer .leftfooter nav li h4 { width:55px; float:left; color:#444; background:url(../images/footer-nav-back.png) 52px 13px no-repeat;}
footer .leftfooter nav li ul { margin-left:55px; display:block;}
footer .leftfooter nav li li { width:18%; min-width:50px; float:left; text-align:center; background:url(../images/line-2.png) left center no-repeat;}
footer .leftfooter nav li li:first-child { background:0;}
/* 联系电话 版权信息 */
footer .leftfooter address { width:35%; padding-top:10px; float:right; line-height:0; *width:250px;}
footer .leftfooter address img { width:100%;}
footer .leftfooter address img.phone-min , footer .leftfooter address span { display:none;}
footer .leftfooter small { width:100%; height:50px; clear:both; color:#777; font:12px/3em '微软雅黑','宋体',Arial;}
/* 合作伙伴 */
footer .partners { width:22%; margin-right:5%; padding-top:5px; float:right; overflow:hidden; zoom:1; *width:250px; *margin-right:0;}
footer .partners h5 { font:18px/2.8em '微软雅黑','宋体',Arial; }
footer .partners li { width:50%; float:left; padding-bottom:10px; text-align:center; line-height:0;}
footer .partners li img { width:95%;}
/* 页脚 结束 */

@media screen and (max-width: 1180px) {
/* 成功案例 */
.main .rightmain .successful-cases li { height:60px;}
.main .rightmain .successful-cases li a { padding:0 5px;}
.main .rightmain .successful-cases li span { margin:0 3px; font-size:12px;}
}

@media screen and (max-width: 980px) {
header , .main { width:100%;}

/* 页头 */
header .logo { width:28%; }
header .other { width:70%;}

/* 页面主体 */
/* 融资项目列表 */
.main .leftmain .project dd i , .main .leftmain .project dd b { font:14px/30px '微软雅黑','宋体',Arial normal;}
.main .leftmain .project dd span { height:26px; font:12px/26px '微软雅黑','宋体',Arial;}
.main .leftmain .project dd .state-finish { font-size:14px;}
.main .leftmain .project dd progress { left:60px; top:6px;}
/* 最新公告 新闻动态 */
.main .rightmain .new-list { font:12px/35px '微软雅黑','宋体',Arial;}
.main .rightmain .new-list li { height:35px;}
.main .rightmain .new-list li span { min-width:25px; margin-right:3%;}
.main .rightmain .new-list li:first-child { font-size:18px;}
.main .rightmain .new-list li h4 a { font-size:18px;}
/* 成功案例 */
.main .rightmain .successful-cases { width:100%; overflow:hidden; zoom:1;}
.main .rightmain .successful-cases li { height:54px; line-height:24px;}
.main .rightmain .successful-cases li a { font:14px/30px '微软雅黑','宋体',Arial;}
.main .rightmain .successful-cases li span { font:12px/2em '微软雅黑','宋体',Arial;}
.main .rightmain .successful-cases li:first-child { font-size:18px;}
.main .rightmain .successful-cases li h4 a { font-size:18px;}

/* 页脚 */
footer .leftfooter { width:70%; margin-left:0;}
/* 导航 */
footer .leftfooter nav { width:75%;}
footer .leftfooter nav li li { width:20%;}
/* 联系电话 版权信息 */
footer .leftfooter address { width:25%;}
footer .leftfooter address img.phone-max { display:none;}
footer .leftfooter address img.phone-min { display:block;}
/* 合作伙伴 */
footer .partners { width:27%; margin-right:0;}
}

@media screen and (max-width: 768px) {
.hidden768 { display:block;}
.hidden980 { display:none;}

/* 页头 */
header .logo { width:30%; margin:25px 0;}
header .other { padding-bottom:10px; position:relative; font:12px/2em '微软雅黑','宋体',Arial;}
header .other .address { clear:none; position:absolute; right:185px;}
header .other .address li { padding-right:3px;}
header .other .address li.hidden480 { display:none;}
header .other .deputy-nav { clear:none; position:absolute; top:5px; right:0;}
header .other .deputy-nav li { padding:0 7px 0 8px;}
header .other .data { width:323px; padding-top:40px;}
header nav { height:32px; font:16px/2em '微软雅黑','宋体',Arial;}
header nav li li { padding-bottom:10px; font:12px/1.2em '微软雅黑','宋体',Arial;}
header .banner { padding-top:20px;}

/* 页面主体 */
.main .leftmain , .main .rightmain { width:100%; float:none;}
/* 融资项目列表 */
.main .leftmain .project dd i , .main .leftmain .project dd b { font:16px/2em '微软雅黑','宋体',Arial normal;}
.main .leftmain .project dd span { height:24px; font:14px/30px '微软雅黑','宋体',Arial;}
.main .leftmain .project dd .state-finish { font-size:16px;}
.main .leftmain .project dd progress { left:70px; top:9px;}
/* 最新公告 新闻动态 */
.main .rightmain .m-left { margin-left:3%;}
.main .rightmain .new-list { width:48.5%; height:160px; margin-top:25px; float:left; overflow:hidden;}
.main .rightmain .new-list li h4 a { font-size:20px;}
.main .rightmain .new-list li:nth-child(5) , .main aside .new-list li:nth-child(6) { display:none;}
.main .rightmain .new-list li { height:40px; font:16px/40px '微软雅黑','宋体',Arial;}
.main .rightmain .new-list li span { width:13%; min-width:40px; margin-right:4%;}
/* 成功案例 */
.main .rightmain .successful-cases li { width:50%; height:54px; float:left; line-height:30px;}
.main .rightmain .successful-cases li:nth-child(2) , .main .rightmain .successful-cases li:nth-child(3) , .main .rightmain .successful-cases li:nth-child(6) , .main .rightmain .successful-cases li:nth-child(7) { border:0; background:url(../images/successful-cases-back-1.png) 0 0 repeat-y #f8f8f8;}
.main .rightmain .successful-cases li:nth-child(4) , 
.main .rightmain .successful-cases li:nth-child(5) { border:0; background: url(../images/successful-cases-back-2.png) 0 0 repeat-y #fefefe;}
.main .rightmain .successful-cases li:first-child { width:100%;}
.main .rightmain .successful-cases li a { padding-left:6%; font-size:16px;}
.main .rightmain .successful-cases li span { margin:0 2% 0 6%; font-size:14px;}
.main .rightmain .successful-cases li h4 a { font-size:20px;}

/* 页脚 */
footer { background:none;}
footer .leftfooter { width:100%; padding-top:15px; background:url(../images/line-1.png) center top no-repeat #fafafa;}
footer .partners { width:100%; padding:0 0 25px 0; float:none;}
footer .partners h5 { display:none;}
footer .partners li { width:25%; padding:0;}
footer .partners li:nth-child(5) { display:none;}
footer .leftfooter nav { width:70%;}
footer .leftfooter nav li li { min-width:60px;}
footer .leftfooter address { width:30%;}
footer .leftfooter address img.phone-max { display:block;}
footer .leftfooter address img.phone-min { display:none;}
}

@media screen and (max-width: 640px) {
/* 页头 */
header nav { font-size:14px; line-height:30px;}
header nav li:hover li { font-size:12px; line-height:18px;}

/* 页面主体 */
/* 新手指南 */
.main .leftmain .novice h4 { width:6.3%;}
.main .leftmain .novice h5 { width:30.2%; margin-left:1%;}
/* 融资项目列表 */
.main .leftmain .project .project-title a { width:60%;}
.main .leftmain .project dt { display:none;}
.main .leftmain .project dd { width:100%; margin-left:0;}
.main .leftmain .project dd i , .main .leftmain .project dd b { font:14px/30px '微软雅黑','宋体',Arial normal;}
.main .leftmain .project dd span { height:24px; font:12px/24px '微软雅黑','宋体',Arial;}
.main .leftmain .project dd .state-finish { font-size:14px;}
.main .leftmain .project dd progress { left:60px; top:6px;}
/* 最新公告 新闻动态 */
.main .rightmain .new-list li {  font-size:14px;}
.main .rightmain .new-list li span { min-width:25px; margin-right:3%;}
/* 成功案例 */
.main .rightmain .successful-cases li a { padding-left:4%; font-size:14px;}
.main .rightmain .successful-cases li span { margin:0 2% 0 3%; font-size:12px;}

/* 页脚 */
footer .leftfooter nav { width:75%;}
footer .leftfooter nav li li { min-width:55px;}
footer .leftfooter address { width:25%;}
footer .leftfooter address img.phone-max { display:none;}
footer .leftfooter address img.phone-min { display:block;}
}

@media screen and (max-width: 480px) {
header , .main , footer { min-width:320px;}

/* 页头 */
header { position:relative; z-index:5px;}
header .other { width:100%; height:220px; padding:0; position:absolute; top:0; left:0; background:url(../images/other-back.png) 0 0 repeat-x; color:#fff;}
header .other .address { width:60%; padding-left:15px; position:static; float:left;}
header .other .address li { float:none; font:14px/1.85em '微软雅黑','宋体',Arial;}
header .other .deputy-nav { display:none;}
header .other .menu { width:75px; height:26px; display:block; position:absolute; top:0; right:15px; background:url(../images/menu.png) 55px 5px no-repeat; font:16px/1.625em '微软雅黑','宋体',Arial; color:#fff;}
header .logo { width:250px; height:79px; display:block; float:none; clear:both; margin:56px auto 60px auto;}
header .other .data { width:100%; float:none; position:absolute; top:160px; padding:0; background:url(../images/data-back.png) 0 0 repeat-x;}
header .other .data li { width:50%; padding:0; font:14px/2.14em '微软雅黑','宋体',Arial; text-align:center;}
header nav { width:200px; height:auto; padding-bottom:15px; display:none; position:absolute; top:36px; right:0; overflow:hidden; zoom:1; border:0; background:#fff;}
header nav li { width:80%; margin:0 auto; float:none; display:block; text-align:center; border-bottom:1px solid #eee;}
header nav li ul { position:static;}
header nav li li { border-bottom:0;}

/* 页面主体 */
/* 新手指南 */
.main .leftmain .novice { background:#f8f8f8;}
.main .leftmain .novice h4 { width:50px; float:left; height:159px; margin:0; padding:0;}
.main .leftmain .novice h5 { width:auto; height:40px; margin-left:65px; margin-top:10px; float:none;}
.main .leftmain .novice h5 a img { display:none;}
.main .leftmain .novice h5 a span { display:block;}
.main .leftmain .novice h5 a span { height:40px; display:block; font:16px/1.25em '微软雅黑','宋体',Arial;}
.main .leftmain .novice h5 a span em { width:160px; height:40px; float:left; font:20px/2em '微软雅黑','宋体',Arial normal; color:#c10000;}
/* 融资项目列表 */
.main .leftmain .project .project-title a { font:18px/2em '微软雅黑','宋体',Arial normal;}
.main .leftmain .project dd { height:54px; overflow:hidden;}
.main .leftmain .project dd i { display:none;}
 .main .leftmain .project dd b { width:100%; float:none; display:block; clear:both; font:16px/30px '微软雅黑','宋体',Arial;}
.main .leftmain .project dd span { width:32.3%; margin-left:1%; font-size:14px;}
/* 最新公告 新闻动态 */
.main .rightmain .m-left { margin-left:0;}
.main .rightmain .new-list { width:100%; height:auto; margin-bottom:0; overflow:visible;}
.main .rightmain .new-list li { height:40px; font:16px/40px '微软雅黑','宋体',Arial;}
.main .rightmain .new-list li span { width:13%; min-width:40px; margin-right:4%;}
.main .rightmain .new-list li:nth-child(5) , .main aside .new-list li:nth-child(6) { display:block;}
/* 成功案例 */
.main .rightmain .successful-cases { padding-top:25px;}
.main .rightmain .successful-cases li { width:100%; height:60px;}
.main .rightmain .successful-cases li a { font-size:16px;}
.main .rightmain .successful-cases li span { margin:0 3% 0 4%; font-size:14px;}
.main .rightmain .successful-cases li:nth-child(even) { border-left:3px solid #ececec; background:#f8f8f8;}
.main .rightmain .successful-cases li:nth-child(odd) { border-left:3px solid #f9f9f9; background:#fff;}

/* 页脚 */
footer { margin-top:15px;}
footer .partners { display:none;}
footer .leftfooter nav { width:100%; float:none; clear:both; position:relative;}
footer .leftfooter nav li { width:20%; float:left; text-align:center; font:14px/2.14em '微软雅黑','宋体',Arial;}
footer .leftfooter nav li h4 { width:auto; float:none; background:none;}
footer .leftfooter nav li ul { display:none;}
footer .leftfooter nav li:hover ul { width:100%; height:30px; margin-left:0; display:block; position:absolute; left:0; background:#fff; font:12px/2.5em '微软雅黑','宋体',Arial;}
footer .leftfooter nav li li { background:none;}
footer .leftfooter address { width:100%; padding-top:0; float:none; clear:both; text-align:center; font:14px/2.14em '微软雅黑','宋体',Arial normal;}
footer .leftfooter address img.phone-min { display:none;}
footer .leftfooter address span { display:block}
footer .leftfooter small { height:60px; text-align:center; font:12px/2.5em '微软雅黑','宋体',Arial;}
}


@media screen and (max-width: 400px) {
	
/* 页面主体 */
/* 新手指南 */
.main .leftmain .novice h5 { margin-left:60px;}
.main .leftmain .novice h5 a span { font:14px/1.428em '微软雅黑','宋体',Arial;}
.main .leftmain .novice h5 a span em { width:125px; font:16px/2.5em '微软雅黑','宋体',Arial normal;}
/* 融资项目列表 */
.main .leftmain .project dd span { font-size:12px;}
}