@charset "utf-8";
/* CSS Document */

/* 通用样式 开始 */
* { margin:0; padding:0; border:0;}
article , aside , figcaption , figure , footer , header , hgroup , menu , nav , section , small , ul , ol , dl , dt , dd , address { display: block;}
body { width:100%; max-width:640px; min-width:320px; margin:0 auto; background:#fff; font:14px/1.5 '微软雅黑','宋体',Arial; color:#444;}
ul , ol , li { list-style-type:none; vertical-align: middle;}
h1 , h2 , h3 , h4 , h5 , h6 { font-weight:normal; font-size:14px;}
.clear { width:100%; height:0; clear:both; font-size:0; line-height:0; overflow:hidden; display:block;}
a { color:#444; text-decoration:none;}
a:hover { color:#444;}
input { border:0; font-family:'微软雅黑','宋体',Arial; background:#fff;}
button { height:40px; border:0; border-radius:3px; font:16px/40px '微软雅黑','宋体',Arial; text-align:center; background:#ff5367; color:#fff;}
img { width:100%; height:100%;}
i , b { font-style:normal; font-weight:normal;}

.main { width:100%; max-width:640px; min-width:320px; margin:0 auto; clear:both; overflow:hidden; zoom:1;}

/* 通用样式 开始*/
.fl { float:left;}
.fr { float:right;}
.pb-10 { padding-bottom:10px;}
a.grey { color:#aaa;}
.co-none { display:none;}
button.cancel { background:#f0f0f0; color:#444;}
.box-1 { border-top:solid 1px #eee; border-bottom:solid 1px #eee; background:#fff; clear:both; overflow:hidden; zoom:1;}
.index .header , .co-mainheader-2 {  overflow:hidden; color:#fff; text-shadow:0 0 3px rgba(0,0,0,.55); background:url(../images/logo.png) right top no-repeat , url(../images/back-header.jpg) center top no-repeat;}
/* 通用样式 结束*/

/* 底部导航 开始*/
.co-space-1 { width:100%; height:70px; clear:both; font-size:0; line-height:0; overflow:hidden; display:block;}
.foot-nav { width:100%; max-width:640px; min-width:320px; height:60px; border-top:solid 1px #eee; position:fixed; bottom:0; z-index:10; font-size:18px; line-height:60px; color:#000; background:#fff;}
.foot-nav li { width:33.3333%; height:60px; float:left; text-align:center;}
.foot-nav li a { height:60px; border-right:solid 1px #eee; display:block; color:#000;}
.foot-nav li:last-child a { border:0;}
.foot-nav li i { padding-right:10px; color:#444;}
/* 底部导航 结束*/

/* 旅游线路 */
.line-list li { padding:10px 0; border-bottom:solid 1px #eee; clear:both; overflow:hidden; zoom:1;}
.line-list li img { width:120px; height:90px; padding-right:10px; float:left;}
.line-list li p { text-align:right;}
.line-list li p b { font-size:18px; color:#ff5367;}
/* 查看全部产品 */
.co-whole { height:38px; margin:10px 10px 0 10px; border:solid 1px #eee; border-radius:3px; background:#fff; font-size:16px; line-height:38px; text-align:center;}
.co-whole a { height:38px; display:block; color:#099fde;}
.co-whole img { width:20px; height:20px; padding-right:10px; vertical-align:middle;}